@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

$primary: #052c59;
$primary-hover: #37567a;
$secondary: #fbefe2;
$secondary-hover: #fff5eb;
$tertiary: #ffffff;
$tertiary-hover: #fcfafa;
$warning: #d0342c;
$warning-hover: #cc3c35;
$warning-disabled: #ba7770;

body {
  margin: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  line-height: 1.7;
  background-color: $tertiary;
  color: $primary;
}

h1 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
}

.primary-button {
  margin: 1rem 0;
  border: 0;
  padding: 0.3rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $primary;
  color: $secondary;
  &:active {
    background-color: $primary !important;
  }
  &:hover {
    background-color: $primary-hover;
  }
}

.secondary-button {
  margin: 1rem 0;
  border: 0;
  padding: 0.3rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $secondary;
  color: $primary;
  &:active {
    background-color: $secondary !important;
  }
  &:hover {
    background-color: $secondary-hover;
    color: $primary;
  }
}

.tertiary-button {
  margin: 1rem 0;
  border: 0;
  padding: 0.3rem 1.5rem;
  border-radius: 2rem;
  font-size: 0.8rem;
  background-color: $tertiary;
  color: $primary;
  &:active {
    background-color: $tertiary !important;
  }
  &:hover {
    background-color: $tertiary-hover;
    color: $primary;
  }
}

.delete-button {
  margin: 1rem 0;
  border: 0;
  padding: 0.3rem 1.5rem;
  border-radius: 5rem;
  font-size: 0.8rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: $warning;
  color: $secondary-hover;
  &:active {
    background-color: $warning !important;
  }
  &:hover {
    background-color: $warning-hover;
  }
  &:disabled {
    background-color: $warning-disabled;

  }
}
