@use 'index';

.container {
  max-width: 32rem;
  padding: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 1rem;
  max-height: 80vh;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  width: 10px;
  background-color: index.$secondary;
  border-radius: 0 1rem 1rem 0;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.home-filter-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
