@use 'index';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.title-checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.filters-with-form {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3rem;
  padding: 0 2rem;
}

.form-check-input {
  color: index.$secondary;
  background-color: index.$secondary;
  border-color: index.$secondary;
  &:checked {
    color: index.$primary;
    background-color: index.$primary;
    border-color: index.$primary;
  }
}

.form-check-input:hover {
  cursor: pointer;
}
