@use 'index';

.footer {
  gap: 0.8rem;
  border-top: 1px solid gainsboro;
  min-width: 100%;
}

.criterion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.add-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.input {
  flex: 1;
  min-width: fit-content;
}

.filter-name-input {
  margin-bottom: 1rem;
}

.react-datepicker-popper {
  position: fixed !important;
}
